body{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    background: linear-gradient(white,gray);


    }


#todo {
    display: flex;
    justify-content: center;
    /* Horizontally center */
    align-items: center;
    /* Vertically center */
    height: 100vh;
    /* Adjust height as needed */
 }
 h2{
        padding: 10px;
        width: 100%;
                font-size: 50px;
                font-weight: 600;
                background-image: conic-gradient(#9a7c3c, #ee322b, #ecff46, #3c9a8a);
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                text-shadow: 0px 0px 2px #dee6e0, 0px 0px 5px #df7f48, 0px 0px 5px #b393d3,
                        0px 0px 10px #d3ad93;  /*dill */
      
 }

#all{
    outline: none;
        border: none;
        cursor: pointer;
        border-radius: 11px;
        color: white;
        border: 20px;
        margin: 4px 0;
        border-radius: 10px;
        padding: 10px;
        width: 500px;
        /* Set the width of the box */
        height: 100%;
        background: linear-gradient(rgba(26, 170, 146, 0.678),rgb(228, 228, 228));
}
button:hover {
    background: hwb(221 58% 11%);
    letter-spacing: 2px;
}

.box{
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    
}

button{
    font-family: 'Courier New', Courier, monospace;
        color: rgb(250, 255, 255);
    text-transform: uppercase;
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    border: #b393d3;
    border-radius: 4px;
    
    background: linear-gradient(rgba(226, 160, 144, 0.89),rgba(158, 46, 17, 0.397));
}
table td{width: 98%;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(128, 126, 126), rgba(189, 192, 196, 0.815));
    font-family: 'Courier New', Courier, monospace;
       
}